*{
    box-sizing: border-box;
}
td,th{

 border: 3px solid rgb(255, 255, 255);
 font: size 19px;
 padding: 15px;
  
  
 }
 td{
    color: aliceblue;
    text-shadow: 4px 2px 1px rgb(0, 0, 0);
    line-height: 20px;
    
 }
 

table {
   background-color: rgb(62, 58, 58);
  color: rgb(0, 0, 0);
   border: solid  rgb(255, 0, 0) 5px;
   }

th{
    color: rgb(255, 255, 255);
}
   
div{
    min-width: 100vw;
    min-height: 100vh;
}
h1
{
 color: red;
 margin-left: 40%;
 border: solid 3px red;
 display:inline;
 padding: 0px 27px;
 margin-bottom: 10px;
 
}
img
 {
 width: 90px;
 height: 90px;
 border: solid 2px white;
 background-color: rgb(156, 181, 181);
 }
 figcaption {
    text-align: center;
    margin-top: 15px;
 }
figure{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius:10px;
    border: solid rgb(255, 0, 0) 2px;
    
}
button{
    background-color: red;
    border: solid 2px white;
    
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.habilidades-png {
    border: solid 3px red;
    background-color:rgb(61, 55, 55);
    border-radius: 100px;
    padding: 18px;
    width: 100px;
    height: 100px;
    
    
}
.estilização-texto-habilidade{
    background-color:rgb(61, 55, 55);
    text-align: center;
    border: solid 2px white;
    min-width: 300px;
    min-height: 350px;
}
p{
    text-align: center;
    color: red;
}
th{
    font-size: xx-large;
}